exportPattern("^[[:alpha:]]+")
import(Matrix)
import(caret)
import(MCMCprecision)
import(truncdist)
import(faux)
import(mcclust.ext)
import(philentropy)
import(aricode)
import(gsl)
import(label.switching)
import(mclust)
import(clustvarsel)
import(coda)
import(flexmix)
import(BNPmix)
import(factoextra)
import(MASS)
